
.todo-container {
  display: flex;
  flex-direction: column;
}

.todo-button {
  border: none;
  background-color: #001d3d;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 22px;
}

.todo-button:hover {
  opacity: 90%;
}

.todo-tasks-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.todo-task {
  list-style-type: none;
  background-color: #001d3d;
  color: white;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.todo-task:hover {
  opacity: 90%;
}

.remove-tasks-button {
  display: block;
  margin-left: auto;
  border: none;
  padding: 10px;
  background-color: #E32434;
  font-weight: bold;
  color: white;
  margin-top: 5px;
  font-size: 18px;
  cursor: pointer;
}

.remove-tasks-button:hover {
  background-color: #e63946;
}

a {
  text-decoration: none;
  color: white;
}